/*
============================================
; Title:  site.css
; Author: Professor Krasso
; Date:   25 June 2017
; Description: Global styling for week's 7 through 9
;===========================================
*/

body {
  font-family: "Roboto", sans-serif;
}
#top-bar {
  background-color: steelblue;
}
#grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top:20px;
  grid-column-gap: 10px;
}
.grid-item {
  /* justify-self: center; */
  margin-left:20px;
}
h2 {
  text-align: center;
  color:white;
  padding:20px;
  letter-spacing: 2px;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  background-color: steelblue;
  color: white;
}

tr:nth-child(even) {
  background-color: lightsteelblue;
}
tr td:first-of-type:hover {
  color: red;
}
.hover-class {
  color:red;
  font-style: italic;
}
